@inherits LayoutComponentBase
@inject IJSRuntime JS
@inject ILogger<AppLayout> Logger

@using DeswapApp.Layout

<div class="page">
    <AppNav />
    <main>
        @Body
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initFlowbite");
        }
    }
}
