@inherits LayoutComponentBase
@implements IAsyncDisposable
@inject IJSRuntime JS

<div class="page">
    <NavMenu />

    <main>
        @Body
    </main>

    <footer>

    </footer>
</div>

@code {
    private IJSObjectReference? jsModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("initFlowbite");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (jsModule is not null)
        {
            await jsModule.DisposeAsync();
        }
    }
}
