<nav class="relative container mx-auto p-6">
    <!-- Flex container -->
    <div class="flex items-center justify-between">
        <!-- Logo -->
        <div class="pt-2">
            <img src="img/logo.svg" alt="deswap" />
        </div>
        <!-- Menu Items -->
        <div class="hidden space-x-6 md:flex">
            <a href="/governor" class="hover:text-gray-500">Governor</a>
            <a href="#" class="hover:text-gray-500">Blog</a>
            <a href="#" class="hover:text-gray-500">Contacts</a>
            <a href="#" class="hover:text-gray-500">FAQ</a>
        </div>
        <!-- Button -->
        <a href="#" class="p-3 px-6 pt-2 text-white bg-red-500 rounded-full baseline">Launch APP</a>
    </div>
</nav>
