@page "/app/users/{address}/tokens/{*network}"
@layout AppLayout
@inject HttpClient Http
@inject ILogger<AppUserTokens> Logger

@using System.Text.Json.Serialization

<PageTitle>App user Tokens</PageTitle>


<section class="bg-gray-50 dark:bg-gray-900 my-10">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-4 px-64 mx-auto lg:py-0">
    @if (Tokens.Count > 0)
    {
        @foreach (var token in Tokens)
        {
            @if (token.Token is not null && token.Token.Metadata is not null)
            {
                <div class="flex flex-col items-center py-2 max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
                    <a href=@($"https://testnets.opensea.io/assets/sepolia/0xe10c396c0635bee8986de9a870852f528a0e0107/{token.Token.TokenId}") target="_blank">
                        <img class="rounded-t-lg" src="@token.Token.Metadata.ImageOriginal" alt="" />
                    </a>
                    <div class="flex flex-row items-center gap-2 p-5">
                        @if (canList(token.Token.Attributes))
                        {
                            <a href="@buildListUrl(token.Token)" target="_blank" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                List
                            </a>
                        }
                        @if (canExercise(token.Token.Attributes))
                        {
                            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Exercise
                            </a>
                        }
                        @if (canBurn(token.Token.Attributes))
                        {
                            <a href="#" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                Burn
                            </a>
                        }
                    </div>
                </div>
            }
        }
    }
    </div>
</section>


@code {
    [Parameter]
    public string address {get; set;} = "0x0";

    [Parameter]
    public string? network {get; set;}

    private string buildListUrl(ReservoirToken token)
    {
        string network = EthNetwork.ChainIdToNetwork(token.ChainId);
        return $"https://testnets.opensea.io/assets/{network}/{token.Contract}/{token.TokenId}/sell";
    }

    private bool canExercise(IList<ReservoirTokenAttribute> tokenAttributes)
    {
        bool inMaturityDate = false;

        foreach(var attr in tokenAttributes)
        {
            if (attr.Key == "maturityDate" && attr.Value is not null)
            {
                var maturityDate = DateTimeOffset.FromUnixTimeSeconds(long.Parse(attr.Value));
                var now = DateTime.Now;
                if (now >= maturityDate && now < maturityDate.AddDays(1))
                {
                    inMaturityDate = true;
                }
            }
        }
        if (inMaturityDate)
        {
            return true;
        }
        return false;
    }

    private bool canBurn(IList<ReservoirTokenAttribute> tokenAttributes)
    {
        bool afterMaturityDate = false;

        foreach(var attr in tokenAttributes)
        {
            if (attr.Key == "maturityDate" && attr.Value is not null)
            {
                var maturityDate = DateTimeOffset.FromUnixTimeSeconds(long.Parse(attr.Value));
                var now = DateTime.Now;
                if (now >= maturityDate.AddDays(1))
                {
                    afterMaturityDate = true;
                }
            }
        }
        if (afterMaturityDate)
        {
            return true;
        }
        return false;
    }

    private bool canList(IList<ReservoirTokenAttribute> tokenAttributes)
    {
        bool writerIsOwner = false;

        foreach(var attr in tokenAttributes)
        {
            if (attr.Key == "writer" && attr.Value is not null)
            {
                if (attr.Value == address)
                {
                    writerIsOwner = true;
                }
            }
        }
        if (writerIsOwner && !canBurn(tokenAttributes) && !canExercise(tokenAttributes))
        {
            return true;
        }
        return false;
    }

    private IList<ReservoirTokenResponse> Tokens {get; set;} = [];

    protected override async Task OnInitializedAsync()
    {
        var tokensResponse = await Http.GetFromJsonAsync<ReservoirTokensResponse>($"https://api-sepolia.reservoir.tools/users/{address}/tokens/v8?contract=0xe10C396C0635BEE8986de9A870852F528A0E0107&includeAttributes=true");
        Tokens = tokensResponse.Tokens;
        Logger.LogInformation($"total tokens: {tokensResponse.Tokens.Count}");
        Logger.LogInformation($"Tokens 0: {Tokens[0].Token.Metadata.ImageOriginal}");

        foreach(var token in Tokens)
        {
            if (token.Token.Metadata is not null)
            {
                Logger.LogInformation($"Tokens {token.Token.TokenId}: {token.Token.Metadata.ImageOriginal}");
            }
        }
    }

    public class ReservoirTokensResponse
    {
        [JsonPropertyName("tokens")]
        public IList<ReservoirTokenResponse> Tokens { get; set; } = [];

    }

    public class ReservoirTokenResponse
    {
        [JsonPropertyName("token")]
        public ReservoirToken? Token { get; set; }
        
    }
    public class ReservoirToken
    {
        [JsonPropertyName("chainId")]
        public long ChainId { get; set; }

        [JsonPropertyName("contract")]
        public string? Contract { get; set; }

        [JsonPropertyName("tokenId")]
        public string? TokenId { get; set; }

        [JsonPropertyName("name")]
        public string? Name { get; set; }

        [JsonPropertyName("metadata")]
        [JsonIgnore(Condition = JsonIgnoreCondition.WhenWritingNull)]
        public ReservoirTokenMetadata? Metadata { get; set; }

        [JsonPropertyName("attributes")]
        public IList<ReservoirTokenAttribute> Attributes { get; set; } = [];
        
    }

    public class ReservoirTokenMetadata
    {
        [JsonPropertyName("imageOriginal")]
        public string? ImageOriginal { get; set; }
    }

    public class ReservoirTokenAttribute
    {
        [JsonPropertyName("key")]
        public string? Key { get; set; }

        [JsonPropertyName("kind")]
        public string? Kind { get; set; }

        [JsonPropertyName("value")]
        public string? Value { get; set; }

    }
}
