@page "/governor"

<PageTitle>Governor</PageTitle>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">GOVERNANCE</h2>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                Dswap is a DAO run by DST token holders.
            </p>
        </div>
    </div>
</section>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">
                THE GOVERNANCE PROCESS
            </h2>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                Here put the governance process details.
            </p>
        </div>
    </div>
</section>

