@inject IStringLocalizer<SharedResource> Loc

@page "/governor"

<PageTitle>@Loc["Governor"]</PageTitle>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">@Loc["Governor"]</h2>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                @Loc["Governor_Intro"]
            </p>

            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                <a target="_blank" href="https://t.me/jx9987" class="hover:underline">Telegram</a>
            </p>

            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                <a target="_blank" href="https://discord.gg/bRcgC5Cnse" class="hover:underline">Discord</a>
            </p>
        </div>
    </div>
</section>
