@page "/governor"

<PageTitle>Governor</PageTitle>

<section id="governance" class="mt-2">
    <!-- Flex Container -->
    <div class="container flex flex-col items-start justify-center px-6 py-24 mx-auto space-y-12">
        <h2 class="text-5xl font-bold text-center text-black md:text-4xl">
            GOVERNANCE
        </h2>
        <h1 class="text-5xl font-bold text-center text-black md:text-4xl">
            Dswap is a DAO run by DST token holders
        </h1>

        <div class="flex items-center space-y-3">
            <img src="img/logo-no-text.svg" alt="DST token">
            <div class="flex flex-col">
                <h2>The DST Token</h2>
                <p>DST is the governor token for the DAO, token holders can propose,vote
                    and earn from the DAO’s income</p>
            </div>
        </div>
    </div>
</section>

<section id="governance-process" class="mt-2">
    <!-- Flex Container -->
    <div class="container flex flex-col items-start justify-center px-6 py-24 mx-auto space-y-12">
        <h2 class="text-5xl font-bold text-center text-black md:text-4xl">
            THE GOVERNANCE PROCESS
        </h2>
        <h1 class="text-5xl font-bold text-center text-black md:text-4xl">
            Dswap is a DAO run by DST token holders
        </h1>

        <div class="flex items-center space-y-3">
            <img src="img/logo-no-text.svg" alt="DST token">
            <div class="flex flex-col">
                <h2>The DST Token</h2>
                <p>DST is the governor token for the DAO, token holders can propose,vote
                    and earn from the DAO’s income</p>
            </div>
        </div>
    </div>
</section>
