@inject IStringLocalizer<SharedResource> Loc

@page "/governor"

<PageTitle>@Loc["Governor"]</PageTitle>

<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
        <div class="max-w-screen-md">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">GOVERNANCE</h2>
            <p class="mb-8 font-light text-gray-500 sm:text-xl dark:text-gray-400">
                Currently Deswap is my personal side project, I designed the website, wrote the code,
                I'm planning to build a DAO to governor the platform in the future. Anyone want to corporate
                can contact me at <a target="_blank" href="https://t.me/jx9987" class="hover:underline">Telegram</a> or <a target="_blank" href="https://discord.gg/bRcgC5Cnse" class="hover:underline">Discord</a>.
            </p>
        </div>
    </div>
</section>
