@tailwind base;
@tailwind components;
@tailwind utilities;

#language-anchor {
	anchor-name: --language-anchor;
}
#language-dropdown-menu {
	position-anchor: --language-anchor;
	right: anchor(right);
	bottom: anchor(bottom);
	inset-area: bottom;
}

#dropdownNavbarLink {
    anchor-name: --dropdownNavbarLink;
}
#dropdownNavbar {
	position-anchor: --dropdownNavbarLink;
	right: anchor(right);
	bottom: anchor(bottom);
	inset-area: bottom;
}

#sicbo-target{
	background-color: #f30f4f;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	transform-origin: 25px 25px; 
	transition: all 0.3s ease-in-out;
  }
